%% -*- erlang -*-
[
    {habanero, [
        {habanero_coordinator, [

            %% Sample 30 second test run:
            %%      T0  - T5    spawns 10 workers over 5 seconds,
            %%      T5  - T15   10 workers active
            %%      T15 - T20   spawns 10 workers over 5 seconds,
            %%      T20 - T30   20 workers active
            %%      T30         end of test
            {timeline, [
                {5, 10},
                {15, 10},
                {20, 20},
                {30, 20}
            ]},

            %% Sample pipeline executes a GET request on index.html on localhost.
            {pipeline, [
                {sample_get, [
                    %% Returns [Method, Url, Headers]
                    {compose_request, {
                        return, [
                            get,
                            "http://localhost/index.html",
                            [{"User-Agent", "Habanero/1.0"}]
                        ]}
                    },
                    {transition, {return, sample_get}}
                ]}

                %% Sample stage showing a compose request phase as a Javascript function
                %% {sample_get, [
                %%     {compose_request, {javascript, "function(context){
                %%                 var method = 'get';
                %%                 var url = 'http://0.0.0.0:5000/r/';
                %%                 return [method, url, []];
                %%             };"}},
                %%     {transition, {return, sample_get}}
                %% ]},

                %% Sample stage showing a compose request phase as an Erlang function call.
                %% {sample_get, [
                %%     {compose_request, {erlang, {my_module, my_module}}},
                %%     {transition, {return, sample_get}}
                %% ]}
            ]}
        ]},

        %% See: http://erlang.org/doc/man/httpc.html#set_options-2
        {http_options, [
            %% Maximum number of persistent connections to a host.
            {max_sessions, 500},

            %% Maximum number of outstanding requests on the same connection to a host.
            {max_keep_alive_length, 1000},

            %% If a persistent connection is idle longer than the keep_alive_timeout
            %% in milliseconds, the client will close the connection.
            {keep_alive_timeout, 5000},

            %% Maximum number of outstanding requests on a pipelined connection to a host.
            {max_pipeline_length, 1024},

            %% If a persistent connection is idle longer than the pipeline_timeout in
            %% milliseconds, the client will close the connection.
            {pipeline_timeout, 1000},

            %% If Cookies are enabled all valid cookies will automatically be
            %% saved in the client manager's cookie database.
            {cookies, enabled}
        ]},

        %% See habanero_line_server.erl
        {habanero_line_server, [
            {sample_data, ["sample.data"]}
        ]}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/info.log"}, {level, info}]}
        ]}]},

    {sasl, [
        {sasl_error_logger, {file, "log/sasl.log"}},
        {errlog_type, error}]},

    {kernel, [
        {error_logger, {file, "log/kernel.log"}},
        {inet_default_listen_options, [{nodelay, true}]},
        {inet_default_connect_options, [{nodelay, true}]}]}
].






