%% -*- erlang -*-
{cover_enabled, true}.
{cover_print_enabled, true}.

{erl_opts, [
            {parse_transform, lager_transform},
            inline_list_funcs,
            %% warn_untyped_record, %%% disabled for 'cowboy' dep
            warn_obsolete_guard,
            warn_unused_import,
            warn_shadow_vars,
            warn_export_vars,
            warn_unused_function,
            %% warn_deprecated_function, %%% disabled for 'cowboy' dep, R16 warning
            warn_obsolete_guard,
            warn_unused_import,
            warn_export_all,
            warnings_as_errors
           ]}.

{xref_warnings, false}.
{xref_checks, [
               undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions
              ]}.
{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.1"}}},
    {folsom, ".*", {git, "https://github.com/boundary/folsom.git", {tag, "0.8.0"}}},
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.6"}}},
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.7.0"}}}
]}.
