%% -*- erlang -*-
{erl_opts, [
    debug_info,
    {src_dirs, ["src", "test"]},
    {parse_transform, lager_transform}]}.

{deps, [
    %% Due to compilation requirements, Javascript support is not enabled by default.
    %% Uncomment the follow line and re-run make to install the dependency.
    %% See https://github.com/basho/erlang_js for more information.
    % {erlang_js, ".*", {git, "https://github.com/basho/erlang_js.git"}},
    {lager, ".*", {git, "https://github.com/basho/lager.git"}},
    {folsom, ".*", {git, "https://github.com/boundary/folsom.git"}},
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git"}},
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git"}}
]}.