%% -*- erlang -*-
{erl_opts, [
    debug_info,
    {src_dirs, ["src", "test"]},
    {parse_transform, lager_transform}]}.

{deps, [
    %% Due to compilation requirements, Javascript support is not enabled by default.
    %% Uncomment the follow line and re-run make to install the dependency.
    %% See https://github.com/basho/erlang_js for more information.
    %%     {erlang_js, ".*", {git, "https://github.com/basho/erlang_js.git", {tag, "1.2.2"}}},
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.0rc2"}}},
    {folsom, ".*", {git, "https://github.com/boundary/folsom.git", {tag, "0.7.4"}}},
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.8.6"}}},
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.7.0"}}}
]}.



